.tips {
        background-color: #ffffff; 
        width: 100%; 
        max-width: 100%; 
        box-sizing: border-box;
}

.asignaturas {
        background-color: #ffffff; 
        width: 100%; 
        max-width: 100%; 
        box-sizing: border-box;
}
.contacto {
        text-align: center;
}



        /* Menú de navegación */
        nav{
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            position: sticky;
            top: 0;
            text-align: center;
            z-index: 1000;
        }
        /* Menu de navegación + elementos */
        nav a {
            color: #2c3e50; /* Azul oscuro */
            text-decoration: none;
            margin: 0 20px;
            font-weight: 500;
            transition: 0.3s;
        }
        /* Hover del menu de navegacion */
        nav a:hover {
            color: #3498db; /* Azul */
        }

        /* Encabezado, cambio color fondo panel superior */
        header {
            background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
                        
            background-size: cover;
            background-position: center;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 20px;
        }
        /* Cambio color letra titulo panel superior */
        header h1 {
            color: #2c3e50;
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        /* Secciones */
        section {
            padding: 50px 20px;
            max-width: 800px;
            margin: auto;
            line-height: 1.8;
        }

        .tips-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            margin-top: 30px;
        }
        .asignaturas-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            margin-top: 30px;
        }

        .tips-card {
            background: white;
            padding: 20px;
            border-left: 5px solid #3498db;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.05);
        }
        .asignaturas-card {
            padding: 20px;
            border-radius: 50px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.05);
            font-weight: bold;
            display:block;
            text-decoration: none;
            color: inherit;
        }

        /* Asignaturas */
        .asignatura {
            position: relative;
            overflow: hidden;
            background-color: white;
            }

        /* Capa animada */
            .asignatura::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-size: cover;
            background-position: center;
            opacity: 0.2;
            transition: width 0.3s ease;
            z-index: 0;
            }

        /* Animación */
            .asignatura:hover::before {
            width: 85%;
            }

        /* Texto siempre por encima */
            .asignatura h3,
            .asignatura p {
            position: relative;
            z-index: 1;
            }

        .html::before {
            background-image: url("./img/html-5.png");
            }

        .sql::before {
            background-image: url("./img/sql.png");
            }

        .redes::before {
            background-image: url("./img/redes.png");
            }

        .ing::before {
            background-image: url("./img/ing.png");
            }



        /* Botón */
        .btn-acceder {
            background-color: #3498db;
            color: white;
            padding: 15px 35px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            display: inline-block;
            margin-top: 30px;
            transition: background 0.3s;
        }

        .btn-acceder:hover {
            background-color: #2980b9;
        }

        footer {
            background: #2c3e50;
            color: white;
            padding: 30px;
            text-align: center;
        }

        .introduccion {
                max-width: 800px; 
                margin: auto;
        }


        .btn-contacto {
                color: #3498db; 
                font-weight: bold; 
                text-decoration: none; 
                font-size: 1.2rem;
        }

/* Estilo del body, general*/
 body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #444;
            background-color: #f0f4f8;
        }
